.Header {
    padding: 10px 10px 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(128, 128, 128);
    z-index: 111;
    height: 10vh;
}

.wrapper_a {
    margin-right: 50px;
}

.wrapper_a a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
