.WhyUs {
    padding: 80px 0;
    background-color: rgb(17 24 39);
    text-align: center;
}

.Programs h3 {
    text-align: center;
}

.block {
    border: 1px solid rgb(52, 67, 88);
    border-radius: 10px;
    width: 300px;
    height: 120px;
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(31 41 55);
}

.title {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.descr {
    color: rgb(156 163 175);
}

.wrapper_blocks {
    margin-top: 50px;
}
